.modul_in_development {
  margin-top: 150px;
  padding: 0 20px;
  text-align: center;
  color: rgb(255, 0, 0);
}
.wrapper_app {
  margin: 0 auto;
  max-width: 1450px;
  padding: 0 20px;
}
/* .projectItem {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-auto-flow: dense; 
} */
.artList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  grid-auto-flow: dense; /* Автоматическое заполнение сетки */
}

.artsItem {
  position: relative;
  transition: background-color 0.3s;
}

.artsItem:hover {
  background-color: #fff;
}

.artsItem img {
  width: 100%;
  height: auto;
  filter: grayscale(100%);
  transition: filter 0.3s;
}

.artsItem:hover img {
  filter: grayscale(0%);
}

.artsItem:hover .artsTitle {
  opacity: 1;
}

.artsTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  transition: opacity 0.3s;

  background-color: rgba(255, 255, 255, 0.466); /* Light white background */
  backdrop-filter: blur(50%); /* Blurred background */
  background-image: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.466) 20%,
    rgba(255, 255, 255, 0.466) 80%,
    rgba(255, 255, 255, 0)
  );
}

/* Медиа-запрос для мобильной версии */
@media (max-width: 767px) {
  .artList {
    grid-template-columns: 1fr; /* Одна колонка в мобильной версии */
  }
}
