.wrapper_app {
  margin: 0 auto;
  max-width: 1450px;
  padding: 0 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #ffffff;
}

.form {
  width: 400px;
  max-width: 100%;
  height: auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin: 100px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.form_input,
.form_textarea {
  padding: 10px;
  margin-bottom: 20px;
}
.form_textarea {
  height: 150px;
}
.form_button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form_button:hover {
  background-color: #808080;
}

.success_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.success_image {
  width: 800px;
  height: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.089);
}

.back_button {
  display: block;
  margin-top: 80px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.back_button:hover {
  background-color: #808080;
}

@media (max-width: 600px) {
  .form {
    width: 100%; /* Чтобы форма занимала 100% ширины родительского контейнера */
    max-width: none; /* Сброс максимальной ширины, чтобы форма могла растягиваться на всю ширину */
    margin: 20px 0 0 0; /* Уменьшение отступов */
  }

  .success_image {
    width: 100%; /* Изображение будет занимать 100% ширины родительского контейнера в мобильной версии */
    max-width: none; /* Сброс максимальной ширины */
  }

  .back_button {
    margin-top: 20px; /* Уменьшение отступа для кнопки "назад" */
  }
}
