.banner {
  /* padding: 30px 0; */
  min-width: 100%;
  height: 700px;
  font-size: 48px;
  font-weight: 600;
  /* background-color: rgb(123, 123, 153); */
  background-color: #826e88;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content_wrapper {
  margin: 0 auto;
  max-width: 1450px;
  padding: 0 20px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  color: black;
}
.scroll_doun {
  margin-top: 50px;
  cursor: pointer;
}
.scroll_doun:hover {
  color: rgb(84, 84, 104);
}
.block_about {
  padding: 55px 0;
  display: flex;
}
.block_about_content {
  display: flex;
  flex-direction: row;
}
.block_about p {
  font-size: 17px;
  text-align: justify;
  line-height: 1.6;
  flex: 1; /* Распределение доступного пространства между элементами */
}
.block_about img {
  width: auto;
  height: 600px;
  margin-left: 150px;
}
.download_wrapper {
  padding: 100px 10px;
  display: flex;
  justify-content: space-around;
}
.download_button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #000000;

  border: none;
  cursor: pointer;

  font-size: 16px;
  transition: background-color 0.3s ease;
}
.download_button a {
  text-decoration: none;
  color: #ffffff;
}
.download_button:hover {
  background-color: #808080;
}
.banner_down {
  padding: 0;
  background-color: #8d6120;
  height: 500px;
  position: relative;
}
.content_wrapper_down {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content_wrapper_down img {
  width: auto;
  height: 500px;
  position: relative;
  z-index: 1;
}
.content_wrapper_down p {
  color: #000000;
  font-size: 60px;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
  /* text-align: center; */
  text-align: justify;

  z-index: 2;
}
@media (max-width: 1500px) {
  .block_about {
    padding: 55px 20px;
  }
}

@media (max-width: 920px) {
  .banner {
    height: 500px;
  }
  .content p {
    font-size: 23px;
    line-height: 1.2;
  }
  .block_about_content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .block_about {
    padding-bottom: 0;
  }
  .block_about img {
    margin-left: 0;
    height: 300px;
    margin-top: 50px;
  }

  .banner_down {
    height: 300px;
  }
  .content_wrapper_down p {
    font-size: 40px;
  }
  .content_wrapper_down img {
    display: none;
  }
  .content_wrapper_down p {
    text-align: center;
  }
}
