.wrapper_app {
  margin: 0 auto;
  max-width: 1450px;
  padding: 0 20px;
}

.projectImagesGrid {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-flow: dense;
}

.projectPage {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.content_wrapper {
  display: flex;
}
.projectImages {
  flex: 4.5;
}
/* .projectImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.projectImages img {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 0;
  cursor: pointer;
}

.projectDescription {
  flex: 0.8;
  margin-left: 100px;
}

.projectDescription h2 {
  margin-bottom: 20px;
}

.projectDescription p {
  margin-bottom: 10px;
}

.projectDescription p:last-child {
  margin-bottom: 0;
}
.navigation_buttons {
  margin-top: 50px;

  display: flex;

  justify-content: space-between;
  user-select: none;
}
.nav_left_buttons {
  display: flex;
  font-size: 50px;
  margin-left: 0 auto;
  color: #6666667a;
}

.nav_left_buttons div {
  cursor: pointer;
  margin-right: 50px;
}
.nav_left_buttons div:last-child {
  margin-right: 0;
}

.nav_right_buttons {
  font-size: 50px;
  cursor: pointer;
  color: #6666667a;
}

.nav_link {
  font-size: 50px;
  color: #6666667a;
  text-decoration: none;
}
.nav_left_buttons div:hover,
.nav_link:hover,
.nav_right_buttons:hover {
  color: #474747;
}

@media (max-width: 768px) {
  .projectImagesGrid {
    grid-template-columns: repeat(1, 1fr);
  }

  .projectPage {
    flex-direction: column;
    align-items: center;
  }

  .projectImages {
    width: 100%;
    margin-bottom: 20px;
  }

  .projectDescription {
    width: 100%;
    margin-left: 0;
  }
  .content_wrapper {
    flex-direction: column;
    /* flex-direction: row-reverse; */
  }
}
