.wrapper_app {
  margin: 0 auto;
  max-width: 1450px;
  padding: 0 20px;
}

.image_wrapper {
  position: relative;
  display: inline-block;
}

.image_wrapper img {
  max-width: 100%;
  height: auto;
}

.back_button {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000000;
  color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.back_button:hover {
  background-color: #808080;
}
